@import url("https://www.axis-praxis.org/fonts/webfonts/AvenirNext_Variable.woff2");

body {
    margin: 0px;
    background-color: black;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}


#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Avenir";
    color: white;
    font-size: 80pt;
  
    text-align: center;

    user-select: none;
}


  @media screen and (min-width: 601px) {
    div.text3 {
      display: flex;
     flex-direction: row;
    flex-wrap: wrap;
     position:relative;
    justify-content: left;
    align-items: left;  
    top: 2vw;
    left:-11vw;
    text-align: left;
    font-size:150px; 
    color: white;
  font-family: minion-pro, serif;
   font-style: normal;
   padding-left: 200px; 
   word-wrap: normal; 
  }
  }
  @media screen and (max-width: 600px) {
    div.text3 {
      display: flex;
     flex-direction: row;
    flex-wrap: wrap;
     position:relative;
    justify-content: left;
    align-items: left;  
    top: 1vw;
    left:-43vw;
    text-align: left;
    font-size:100px; 
    color: white;
    font-family: minion-pro, serif;
    padding-left: 200px;
    word-wrap: normal; 
  }
  }



@media screen and (max-width: 600px) {
    div.doors {
      display: flex;
      flex-direction: row;
      row-gap: 40vh;
      margin-top: 40vh;
      margin-left: 20vh;
     
      position: absolute;
      resize: both;
    }
}
@media screen and (min-width: 601px) {
  div.doors {
    display: flex;
    flex-direction: row;
    row-gap: 40vh;
    margin-top: 40vh;
    margin-left: 63vh;
    position: absolute;
    resize: both;
  
  }
  }
  img{
    max-width: 30%;
    height: auto;
    width: auto\9;
    display: block; 
    object-fit: contain;
    
}