html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* adjust typography defaults */
body {
  margin: 1rem;
  line-height: 1.5;
  background-color: white;
}

@media screen and (max-width: 600px) {
div.doors {
display: flex;
flex-direction: row;
row-gap: 40vh;
margin-top: -0vh;
margin-left: 0vh;
position: relative;
top: -70px;
vertical-align: middle;
}
}

@media screen and (min-width: 601px) {
div.doors {
  display: flex;
  flex-direction: row;
  row-gap: 40vh;
  margin-top: 0vh;
  margin-left: 0vh;
  position: relative;  
  top: -30px;
vertical-align: middle;
}
}
@media screen and (max-width: 600px) {
  div.doorsp2 {
    display: flex;
    flex-direction: row;
    row-gap: 40vh;
    margin-top: -0vh;
    margin-left: 0vh;
    position: relative;
    top: -70px;
 vertical-align: middle;
   
  }
  }
   
  @media screen and (min-width: 601px) {
    div.doorsp2 {
      display: flex;
      flex-direction: row;
      row-gap: 40vh;
      margin-top: 0vh;
      margin-left: 0vh;
      position: relative;  
      top: -30px;
     vertical-align: middle;
    }
    }
    @media screen and (max-width: 600px) {
      div.doorsp3 {
        display: flex;
        flex-direction: row;
        row-gap: 40vh;
        margin-top: -0vh;
        margin-left: 0vh;
        position: relative;
        top: -70px;
       vertical-align: middle;
       
      }
      }
       
      @media screen and (min-width: 601px) {
        div.doorsp3 {
          display: flex;
          flex-direction: row;
          row-gap: 40vh;
          margin-top: 0vh;
          margin-left: 0vh;
          position: relative;  
          top: -30px;
      vertical-align: middle;
        }
        }
        @media screen and (max-width: 600px) {
          div.doorsp4 {
            display: flex;
            flex-direction: row;
            row-gap: 40vh;
            margin-top: -0vh;
            margin-left: 0vh;
            position: relative;
            top: -70px;
          vertical-align: middle;
           
          }
          }
           
          @media screen and (min-width: 601px) {
            div.doorsp4 {
              display: flex;
              flex-direction: row;
              row-gap: 40vh;
              margin-top: 0vh;
              margin-left: 0vh;
              position: relative;  
              top: -30px;
              vertical-align: middle;
            }
            }
            @media screen and (max-width: 600px) {
              div.doorsp5 {
                display: flex;
                flex-direction: row;
                row-gap: 40vh;
                margin-top: -0vh;
                margin-left: 0vh;
                position: relative;
                top: -70px;
            vertical-align: middle;
               
              }
              }
               
              @media screen and (min-width: 601px) {
                div.doorsp5 {
                  display: flex;
                  flex-direction: row;
                  row-gap: 40vh;
                  margin-top: 0vh;
                  margin-left: 0vh;
                  position: relative;  
                  top: -30px;
                  vertical-align: middle;
                }
                }

img {
  max-width: 100%;
  max-height: 100%;
  display: block; 
  display: block; 
  object-fit: contain;  
}