html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* adjust typography defaults */
  body {
    margin: 1rem;
    line-height: 1.5;
    background-color: black;
  }

div.row1 {
display: flex;
flex-direction: row;
row-gap: 40vh;
margin-top: 2vh;
margin-left: 0vh;
position: relative;  
top: -30px;
justify-content: center;
}
div.row2 {
    display: flex;
    flex-direction: row;
    row-gap: 40vh;
    margin-top: 2vh;
    margin-left: 0vh;
    position: relative;  
    top: -30px;
    justify-content: center;  
}
div.row3 {
    display: flex;
    flex-direction: row;
    row-gap: 40vh;
    margin-top: 2vh;
    margin-left: 0vh;
    position: relative;  
    top: -30px;
    justify-content: center;   
}

  @media screen and (min-width: 601px) {
    div.text2 {
      display: flex;
     flex-direction: row;
    flex-wrap: wrap;
     position:relative;
    justify-content: left;
    align-items: left;  
    top: 0vw;
    left:-11vw;
    text-align: left;
    font-size:150px; 
    color: white;
  font-family: minion-pro, serif;
   font-style: normal;
   padding-left: 200px; 
   word-wrap: normal; 
  }
  }
  @media screen and (max-width: 600px) {
    div.text2 {
      display: flex;
     flex-direction: row;
    flex-wrap: wrap;
     position:relative;
    justify-content: left;
    align-items: left;  
    top: 1vw;
    left:-43vw;
    text-align: left;
    font-size:100px; 
    color: white;
    font-family: minion-pro, serif;
    padding-left: 200px;
    word-wrap: normal; 
  }
  }



@media screen and (max-width: 600px) {
    div.doors {
      display: flex;
      flex-direction: row;
      row-gap: 40vh;
      margin-top: 10vh;
      margin-left: 15vh;
     
      position: absolute;
      resize: both;
    }
}
@media screen and (min-width: 601px) {
  div.doors {
    display: flex;
    flex-direction: row;
    row-gap: 40vh;
    margin-top: 20vh;
    margin-left: 63vh;
    position: absolute;
    resize: both;
  
  }
  }
  img{
    max-width: 30%;
    height: auto;
    width: auto\9;
    display: block; 
    object-fit: contain;
    
}