html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* adjust typography defaults */
  body {
    margin: 1rem;
    line-height: 1.5;
    background-color: black;
  }

@media screen and (min-width: 601px) {
  div.text1 {
    display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   position:relative;
  top: 3vw;
  left:0vw;
  font-size:40px; 
  color: white;
  font-family: 'Avenir', sans-serif;
  word-wrap: normal; 
  justify-content: center;
}
}
@media screen and (max-width: 600px) {
  div.text1 {
    display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   position:relative;
  top: 5vw;
  left:0vw;
  font-size:30px; 
  color: white;
  font-family: 'Avenir', sans-serif;
  word-wrap: normal; 
  justify-content: center;
}
}

  @media screen and (min-width: 601px) {
    div.text2 {
      display: flex;
     flex-direction: row;
    flex-wrap: wrap;
     position:relative;
    justify-content: left;
    align-items: left;  
    top: 2vw;
    left:-11vw;
    text-align: left;
    font-size:150px; 
    color: white;
  font-family: minion-pro, serif;
   font-style: normal;
   padding-left: 200px; 
   word-wrap: normal; 
  }
  }
  @media screen and (max-width: 600px) {
    div.text2 {
      display: flex;
     flex-direction: row;
    flex-wrap: wrap;
     position:relative;
    justify-content: left;
    align-items: left;  
    top: 1vw;
    left:-43vw;
    text-align: left;
    font-size:100px; 
    color: white;
    font-family: minion-pro, serif;
    padding-left: 200px;
    word-wrap: normal; 
  }
  }



@media screen and (max-width: 600px) {
    div.doors {
      display: flex;
      flex-direction: row;
      row-gap: 40vh;
      margin-top: 180vh;
      margin-left: 20vh;
     
      position: absolute;
      resize: both;
    }
}
@media screen and (min-width: 601px) {
  div.doors {
    display: flex;
    flex-direction: row;
    row-gap: 40vh;
    margin-top: 180vh;
    margin-left: 23vh;
    position: absolute;
    resize: both;
  
  }
  }
  img{
    max-width: 30%;
    height: auto;
    width: auto\9;
    display: block; 
    object-fit: contain;
    
}